/* Contêiner do círculo */
#circle-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-top: 100px; /* Espaço superior */
}

/* Círculo com borda */
#circle {
    width: 300px; /* Tamanho do círculo */
    height: 300px;
    border-radius: 50%; /* Deixa o contêiner redondo */
    background-color: #fff; /* Fundo branco */
    border: 5px solid #fff; /* Borda branca */
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    overflow: hidden; /* Garante que a imagem não ultrapasse o círculo */
}

/* Imagem dentro do círculo */
#circle img {
    width: 100%; /* Faz a imagem ocupar toda a área do círculo */
    height: 100%;
    object-fit: cover; /* Garante que a imagem se ajuste proporcionalmente */
    border-radius: 50%; /* Deixa a imagem redonda */
}
