/* ---- reset ---- */
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
    overflow-x: hidden; /* Evita rolagem horizontal */
    overflow-y: auto; /* Garante rolagem vertical */
}
  /* ---- particles.js container ---- */
  #particles-js {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-repeat: repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
  }


  @media (max-width: 480px) {
    #particles-js {
      position: fixed;
      width: 100%;
      height: 100%;
    }
}